<a href="https://colab.research.google.com/github/p0tat0-113/2024.DB/blob/main/travel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ngrok tcp 3306

In [1]:
# 필요한 라이브러리 설치
!pip install ipython-sql pymysql

# SQL Magic 확장 로드
%load_ext sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (75.1.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 3.0 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 17.0 MB/s eta 0:00:00
Installing collected packages: pymysql, jedi
Successfully installed jedi-0.19.2 pymysql-1.1.1

In [2]:
# 연결 정보 설정
mysql_username = 'colab_user'       # MySQL 사용자 이름
mysql_password = 'private'    # MySQL 비밀번호, 처음에는 비밀번호에 특수문자 섞여있어서 오류가 발생하고 있었다.
ngrok_host = '0.tcp.jp.ngrok.io'       # ngrok에서 받은 호스트
ngrok_port = 'private'                # ngrok에서 받은 포트 (문자열로 입력)

database_name = 'travel'     # 접속할 데이터베이스 이름

# SQLAlchemy 연결 문자열 생성
connection_string = f'mysql+pymysql://{mysql_username}:{mysql_password}@{ngrok_host}:{ngrok_port}/{database_name}'

# SQL Magic을 사용하여 데이터베이스에 연결
%sql $connection_string

In [3]:
# KeyError: 'DEFAULT’에러시 다음 코드를 실행
# 또 이 오류가 발생해서 전 수업파일에서 가져와서 실행했음.
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

#테스트

In [4]:
%%sql
SHOW TABLES;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
11 rows affected.

[('관광지',),
 ('국가',),
 ('사용자',),
 ('숙소',),
 ('지역',),
 ('프로젝트',),
 ('프로젝트관광지',),
 ('프로젝트숙소',),
 ('프로젝트여행국가',),
 ('프로젝트여행지역',),
 ('후기',)]

#프로젝트 생성, 조회, 삭제

## 프로젝트 생성

In [5]:
%%sql
insert
into 사용자
values('dwkim1005', '1q2w3e4r!', '2002-06-02', '김동우', 'dwkim1005@naver.com');

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
1 rows affected.

[]

In [10]:
%%sql
insert
into 프로젝트
values(1, '동우의 일본여행', 2000000, '2024-12-02', 'dwkim1005', '2024-12-02');

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
1 rows affected.

[]

## 특정 사용자의 프로젝트 조회

In [11]:
%%sql
select *
from 프로젝트
where 프로젝트주인유저ID = 'dwkim1005';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
1 rows affected.

[(1, '동우의 일본여행', 2000000, datetime.date(2024, 12, 2), 'dwkim1005', datetime.date(2024, 12, 2))]

## 프로젝트 삭제

In [8]:
%%sql
delete from 프로젝트
where 프로젝트주인유저ID = 'dwkim1005';

select *
from 프로젝트

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
1 rows affected.
0 rows affected.

[]

#프로젝트에 여행국가 추가

## 여행국가추가

In [12]:
%%sql
select * from 국가;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
1 rows affected.

[(1, '일본', 1)]

In [13]:
%%sql
INSERT INTO 프로젝트여행국가 (
    국가ID,
    프로젝트ID,
    경유순서,
    도착일,
    출발일,
    체류기간
) VALUES (
    (SELECT 국가ID FROM 국가 WHERE 국가이름 = '일본'), -- 국가ID: 일본
    1, -- 프로젝트ID: 1번 프로젝트
    1, -- 경유순서: 첫 번째 여행국가
    '2024-12-10', -- 도착일
    '2024-12-13', -- 출발일
    4  -- 체류기간 (일수)
);

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
1 rows affected.

[]

## 프로젝트에 추가된 여행국가 조회

In [16]:
%%sql
select 프로젝트.프로젝트이름, 국가.국가이름, 프로젝트여행국가.*
from 국가 inner join 프로젝트여행국가 on 국가.국가ID = 프로젝트여행국가.국가ID inner join 프로젝트 on 프로젝트여행국가.프로젝트ID = 프로젝트.프로젝트ID
where 프로젝트여행국가.프로젝트ID = 1;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
1 rows affected.

[('동우의 일본여행', '일본', 1, 1, 1, datetime.date(2024, 12, 10), datetime.date(2024, 12, 13), 4)]

## 프로젝트에 추가된 여행국가 삭제

In [ ]:
%%sql
-- 실행하지 말고 넘어가자
delete
from 프로젝트여행국가
where 국가ID = 1 and 프로젝트ID = 1;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:15130/travel
1 rows affected.

[]

# 프로젝트에 여행지역 추가

## 여행지역 추가

In [17]:
%%sql
select * from 지역;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
2 rows affected.

[('도쿄', 1, 1), ('오사카', 1, 2)]

In [18]:
%%sql
INSERT INTO 프로젝트여행지역 (
    지역이름,
    소속된국가ID,
    프로젝트ID,
    경유순서,
    도착일,
    출발일,
    체류기간
) VALUES (
    '도쿄', -- 지역이름: 도쿄
    1,      -- 소속된국가ID: 일본의 국가ID
    1,      -- 프로젝트ID: 1번 프로젝트
    1,      -- 경유순서: 첫 번째 여행 지역
    '2024-12-10', -- 도착일
    '2024-12-12', -- 출발일
    3       -- 체류기간 (일수)
),
(
    '오사카', -- 지역이름: 도쿄
    1,       -- 소속된국가ID: 일본의 국가ID
    1,       -- 프로젝트ID: 1번 프로젝트
    2,      -- 경유순서: 첫 번째 여행 지역
    '2024-12-12', -- 도착일
    '2024-12-13', -- 출발일
    2       -- 체류기간 (일수)
);

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
2 rows affected.

[]

## 프로젝트에 추가된 여행지역 조회

In [19]:
%%sql
select 프로젝트.프로젝트이름, 국가.국가이름 as 여행국가이름, 프로젝트여행국가.국가ID, 프로젝트여행지역.지역이름, 프로젝트여행지역.경유순서, 프로젝트여행지역.도착일, 프로젝트여행지역.출발일, 프로젝트여행지역.체류기간
from 국가 inner join 프로젝트여행국가 on 국가.국가ID = 프로젝트여행국가.국가ID inner join 프로젝트여행지역 on 프로젝트여행국가.프로젝트ID = 프로젝트여행지역.프로젝트ID inner join 프로젝트 on 프로젝트.프로젝트ID = 프로젝트여행국가.프로젝트ID
where 프로젝트여행국가.프로젝트ID = 1
order by 프로젝트여행국가.경유순서 asc, 프로젝트여행지역.경유순서 asc;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
2 rows affected.

[('동우의 일본여행', '일본', 1, '도쿄', 1, datetime.date(2024, 12, 10), datetime.date(2024, 12, 12), 3),
 ('동우의 일본여행', '일본', 1, '오사카', 2, datetime.date(2024, 12, 12), datetime.date(2024, 12, 13), 2)]

## 프로젝트에 추가된 여행지역 삭제

In [ ]:
%%sql
delete
from 프로젝트여행지역
where 지역이름 = '도쿄';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:15130/travel
1 rows affected.

[]

# 프로젝트에 숙소 추가

## 숙소 추가

In [20]:
%%sql
-- 도쿄 숙소 조회
select * from 숙소
where 소속된지역이름 = '도쿄'
order by 인기순위 asc;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
10 rows affected.

[('도쿄 그랜드 호텔', '도쿄', 1, 1, '도쿄 중심에 위치한 고급 호텔입니다.', '도쿄 시내', 'http://tokyograndhotel.example.com'),
 ('신주쿠 빌딩', '도쿄', 1, 2, '비즈니스 여행에 적합한 숙소입니다.', '신주쿠 구', 'http://shinjukubuilding.example.com'),
 ('아사쿠사 료칸', '도쿄', 1, 3, '전통 일본식 숙소를 경험하세요.', '아사쿠사', 'http://asakusarokan.example.com'),
 ('시부야 호스텔', '도쿄', 1, 4, '저렴한 가격의 청결한 호스텔입니다.', '시부야', 'http://shibuyahostel.example.com'),
 ('긴자 스위트', '도쿄', 1, 5, '럭셔리한 스위트룸을 제공합니다.', '긴자', 'http://ginzasuite.example.com'),
 ('롯폰기 앤젤리나', '도쿄', 1, 6, '밤문화와 가까운 편리한 위치.', '롯폰기', 'http://roppongiangelina.example.com'),
 ('우에노 가든 호텔', '도쿄', 1, 7, '우에노 공원 인근의 쾌적한 숙소.', '우에노', 'http://uenogardenhotel.example.com'),
 ('하라주쿠 레지던스', '도쿄', 1, 8, '젊은 층에게 인기 있는 지역에 위치.', '하라주쿠', 'http://harajukuresidence.example.com'),
 ('아키하바라 테크 호텔', '도쿄', 1, 9, '전자제품 쇼핑과 가까운 편리한 위치.', '아키하바라', 'http://akihabaratechhotel.example.com'),
 ('오다이바 씨사이드 호텔', '도쿄', 1, 10, '바다 전망을 자랑하는 호텔.', '오다이바', 'http://odaibacsidehotel.example.com')]

In [21]:
%%sql
-- 오사카 숙소 조회
select * from 숙소
where 소속된지역이름 = '오사카'
order by 인기순위 asc;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
10 rows affected.

[('오사카 센트럴 호텔', '오사카', 1, 1, '도심에 위치한 편리한 숙소.', '오사카 시내', 'http://osakacentralhotel.example.com'),
 ('우메다 빌딩', '오사카', 1, 2, '비즈니스 여행에 최적화된 숙소.', '우메다', 'http://umedabuilding.example.com'),
 ('난바 료칸', '오사카', 1, 3, '전통 일본식 경험을 제공하는 숙소.', '난바', 'http://nambarokan.example.com'),
 ('신세카이 호스텔', '오사카', 1, 4, '저렴하고 깔끔한 호스텔.', '신세카이', 'http://shinsekaihostel.example.com'),
 ('미도스지 스위트', '오사카', 1, 5, '럭셔리한 스위트룸 제공.', '미도스지', 'http://midosuisuite.example.com'),
 ('도톤보리 앤젤리나', '오사카', 1, 6, '도톤보리 지역의 편리한 위치.', '도톤보리', 'http://dotonboriangelina.example.com'),
 ('텐노지 가든 호텔', '오사카', 1, 7, '텐노지 공원 인근의 편안한 숙소.', '텐노지', 'http://tennojigardenhotel.example.com'),
 ('우메다 레지던스', '오사카', 1, 8, '젊은 층에게 인기 있는 지역.', '우메다', 'http://umedaresidence.example.com'),
 ('난바 테크 호텔', '오사카', 1, 9, '전자제품 쇼핑과 가까운 편리한 위치.', '난바', 'http://nambatechhotel.example.com'),
 ('쿠로몬 씨사이드 호텔', '오사카', 1, 10, '바다 전망을 자랑하는 호텔.', '쿠로몬', 'http://kuromonseasidehotel.example.com')]

In [22]:
%%sql
INSERT INTO 프로젝트숙소 (
    숙소이름,
    지역이름,
    소속된국가ID,
    프로젝트ID,
    경유순서,
    체크인날짜,
    체크아웃날짜,
    체류기간
) VALUES (
    '도쿄 그랜드 호텔',          -- 숙소이름
    '도쿄',                      -- 지역이름
    1,                           -- 소속된국가ID (일본의 국가ID가 1)
    1,                           -- 프로젝트ID (프로젝트 번호 1)
    1,                           -- 경유순서 (첫 번째 숙소)
    '2024-12-10',                -- 체크인날짜
    '2024-12-12',                -- 체크아웃날짜
    2                            -- 체류기간 (일수)
);

INSERT INTO 프로젝트숙소 (
    숙소이름,
    지역이름,
    소속된국가ID,
    프로젝트ID,
    경유순서,
    체크인날짜,
    체크아웃날짜,
    체류기간
) VALUES (
    '오사카 센트럴 호텔',      -- 숙소이름
    '오사카',                  -- 지역이름
    1,                         -- 소속된국가ID (일본의 국가ID가 1)
    1,                         -- 프로젝트ID (프로젝트 번호 1)
    2,                         -- 경유순서 (두 번째 숙소)
    '2024-12-12',              -- 체크인날짜
    '2024-12-13',              -- 체크아웃날짜
    1                          -- 체류기간 (일수)
);

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
1 rows affected.
1 rows affected.

[]

##프로젝트에 등록된 숙소 조회

In [27]:
%%sql

select 프로젝트.프로젝트이름, 국가.국가이름, 지역.지역이름, 프로젝트숙소.*
from 프로젝트숙소 inner join  프로젝트 on 프로젝트숙소.프로젝트ID = 프로젝트.프로젝트ID inner join 국가 on 프로젝트숙소.소속된국가ID = 국가.국가ID inner join 지역 on 프로젝트숙소.지역이름 = 지역.지역이름
where 프로젝트숙소.프로젝트ID = 1
order by 프로젝트숙소.경유순서 asc;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
2 rows affected.

[('동우의 일본여행', '일본', '도쿄', '도쿄 그랜드 호텔', '도쿄', 1, 1, 1, datetime.date(2024, 12, 10), datetime.date(2024, 12, 12), 2),
 ('동우의 일본여행', '일본', '오사카', '오사카 센트럴 호텔', '오사카', 1, 1, 2, datetime.date(2024, 12, 12), datetime.date(2024, 12, 13), 1)]

## 프로젝트 등록된 숙소 삭제

In [ ]:
%%sql
delete
from 프로젝트숙소
where 프로젝트ID = 1 and 경유순서 = 2;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14558/travel
   mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:15130/travel
1 rows affected.

[]

# 프로젝트에 방문 관광지 추가

In [32]:
%%sql
-- 도쿄 관광지
select *
from 관광지
where 소속된지역이름 = '도쿄'
order by 인기순위 asc;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
10 rows affected.

[('도쿄 타워', '도쿄', 1, 1, '도쿄의 상징적인 랜드마크.', '도쿄 시내', 'http://tokyotower.example.com'),
 ('센소지 사원', '도쿄', 1, 2, '아사쿠사에 위치한 유명한 사원.', '아사쿠사', 'http://sensojitemple.example.com'),
 ('시부야 스크램블 교차로', '도쿄', 1, 3, '세계에서 가장 붐비는 교차로.', '시부야', 'http://shibuyascramble.example.com'),
 ('하라주쿠 거리', '도쿄', 1, 4, '패션과 문화의 중심지.', '하라주쿠', 'http://harajukustreet.example.com'),
 ('긴자 쇼핑 거리', '도쿄', 1, 5, '고급 쇼핑과 식사를 즐길 수 있는 곳.', '긴자', 'http://ginzashopping.example.com'),
 ('우에노 공원', '도쿄', 1, 6, '여러 박물관과 동물이 있는 대형 공원.', '우에노', 'http://uenopark.example.com'),
 ('롯폰기 힐즈', '도쿄', 1, 7, '엔터테인먼트와 쇼핑의 복합 공간.', '롯폰기', 'http://roppongihills.example.com'),
 ('오다이바 해변 공원', '도쿄', 1, 8, '도쿄 만을 바라볼 수 있는 해변 공원.', '오다이바', 'http://odaibabeachpark.example.com'),
 ('아키하바라 전자상가', '도쿄', 1, 9, '전자제품과 애니메이션 문화의 중심지.', '아키하바라', 'http://akihabaratech.example.com'),
 ('메이지 신궁', '도쿄', 1, 10, '도쿄의 역사적인 신궁.', '하라주쿠', 'http://meijishingu.example.com')]

In [33]:
%%sql
-- 오사카 관광지
select *
from 관광지
where 소속된지역이름 = '오사카'
order by 인기순위 asc;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
10 rows affected.

[('오사카 성', '오사카', 1, 1, '일본의 대표적인 성 중 하나.', '오사카 시내', 'http://osakacastle.example.com'),
 ('도톤보리 강', '오사카', 1, 2, '오사카의 유명한 유흥가.', '도톤보리', 'http://dotonborigawa.example.com'),
 ('유니버설 스튜디오 재팬', '오사카', 1, 3, '세계적인 테마파크.', '유니버설 시티', 'http://usjapan.example.com'),
 ('신세카이 거리', '오사카', 1, 4, '레트로한 분위기의 거리.', '신세카이', 'http://shinsekai.example.com'),
 ('텐노지 동물원', '오사카', 1, 5, '다양한 동물을 만날 수 있는 곳.', '텐노지', 'http://tennojizoo.example.com'),
 ('난바 파크스', '오사카', 1, 6, '쇼핑과 식사를 즐길 수 있는 복합 공간.', '난바', 'http://nambaparks.example.com'),
 ('아베노 하루카스', '오사카', 1, 7, '일본에서 가장 높은 빌딩.', '아베노', 'http://abenoharukas.example.com'),
 ('쿠로몬 시장', '오사카', 1, 8, '신선한 해산물과 다양한 먹거리가 있는 시장.', '쿠로몬', 'http://kuromonmarket.example.com'),
 ('오사카 과학 박물관', '오사카', 1, 9, '과학과 기술을 체험할 수 있는 박물관.', '과학관', 'http://osakascience.example.com'),
 ('나카노시마 공원', '오사카', 1, 10, '도심 속의 평화로운 공원.', '나카노시마', 'http://nakanoshimapark.example.com')]

##관광지 추가

아래와 같은 일정으로 관광지 방문

### 도쿄 (12월 10일 ~ 12월 12일)

#### 12월 10일 (월요일)
- 오후 1시: 도쿄 도착
- 오후 2시 ~ 오후 4시: 도쿄 타워 방문
- 오후 5시 ~ 오후 7시: 긴자 쇼핑 거리 방문

#### 12월 11일 (화요일)
- 오전 10시 ~ 오전 12시: 시부야 스크램블 교차로 방문
- 오후 1시 ~ 오후 3시: 우에노 공원 방문
- 오후 4시 ~ 오후 6시: 롯폰기 힐즈 방문

#### 12월 12일 (수요일)
- 오전 10시 ~ 오전 12시: 메이지 신궁 방문
- 오후 1시 ~ 오후 2시: 하라주쿠 거리 방문
- 오후 2시 ~ 오후 3시: 오사카로 이동

### 오사카 (12월 12일 ~ 12월 13일)

#### 12월 12일 (수요일)
- 오후 3시 ~ 오후 5시: 오사카 성 방문
- 오후 6시 ~ 오후 8시: 도톤보리 강 방문

#### 12월 13일 (목요일)
- 오전 10시 ~ 오전 12시: 유니버설 스튜디오 재팬 방문
- 오후 1시 ~ 오후 3시: 나카노시마 공원 방문
- 오후 3시: 오사카 출국

In [28]:
%%sql
INSERT INTO 프로젝트관광지 (
    관광지이름,
    지역이름,
    소속된국가ID,
    프로젝트ID,
    경유순서,
    방문일,
    도착시간,
    출발시간
) VALUES
    -- 12월 10일 도쿄 도착 후 관광지 방문
    ('도쿄 타워', '도쿄', 1, 1, 1, '2024-12-10', '14:00:00', '16:00:00'),
    ('긴자 쇼핑 거리', '도쿄', 1, 1, 2, '2024-12-10', '17:00:00', '19:00:00'),

    -- 12월 11일 도쿄 전일 관광지 방문
    ('시부야 스크램블 교차로', '도쿄', 1, 1, 3, '2024-12-11', '10:00:00', '12:00:00'),
    ('우에노 공원', '도쿄', 1, 1, 4, '2024-12-11', '13:00:00', '15:00:00'),
    ('롯폰기 힐즈', '도쿄', 1, 1, 5, '2024-12-11', '16:00:00', '18:00:00'),

    -- 12월 12일 도쿄 오전 관광지 방문 후 오사카로 이동
    ('메이지 신궁', '도쿄', 1, 1, 6, '2024-12-12', '10:00:00', '12:00:00'),
    ('하라주쿠 거리', '도쿄', 1, 1, 7, '2024-12-12', '13:00:00', '14:00:00'),

    -- 12월 12일 오사카 도착 후 관광지 방문
    ('오사카 성', '오사카', 1, 1, 8, '2024-12-12', '15:00:00', '17:00:00'),
    ('도톤보리 강', '오사카', 1, 1, 9, '2024-12-12', '18:00:00', '20:00:00'),

    -- 12월 13일 오사카 오전 관광지 방문 후 출국
    ('유니버설 스튜디오 재팬', '오사카', 1, 1, 10, '2024-12-13', '10:00:00', '12:00:00'),
    ('나카노시마 공원', '오사카', 1, 1, 11, '2024-12-13', '13:00:00', '15:00:00');

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/travel
11 rows affected.

[]

## 프로젝트 등록된 관광지 방문 일정 조회

In [ ]:
%%sql
select 프로젝트.프로젝트이름, 국가.국가이름, 프로젝트관광지.지역이름, 프로젝트관광지.관광지이름, 프로젝트관광지.경유순서, 프로젝트관광지.방문일, 프로젝트관광지.도착시간, 프로젝트관광지.출발시간
from 국가 inner join 프로젝트관광지 on 국가.국가ID = 프로젝트관광지.소속된국가ID inner join 프로젝트 on 프로젝트관광지.프로젝트ID = 프로젝트.프로젝트ID
where 프로젝트관광지.프로젝트ID = 1
order by 경유순서 asc;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14558/travel
   mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:15130/travel
10 rows affected.

[('동우의 일본여행', '일본', '도쿄', '도쿄 타워', 1, datetime.date(2024, 12, 10), datetime.timedelta(seconds=50400), datetime.timedelta(seconds=57600)),
 ('동우의 일본여행', '일본', '도쿄', '긴자 쇼핑 거리', 2, datetime.date(2024, 12, 10), datetime.timedelta(seconds=61200), datetime.timedelta(seconds=68400)),
 ('동우의 일본여행', '일본', '도쿄', '시부야 스크램블 교차로', 3, datetime.date(2024, 12, 11), datetime.timedelta(seconds=36000), datetime.timedelta(seconds=43200)),
 ('동우의 일본여행', '일본', '도쿄', '우에노 공원', 4, datetime.date(2024, 12, 11), datetime.timedelta(seconds=46800), datetime.timedelta(seconds=54000)),
 ('동우의 일본여행', '일본', '도쿄', '롯폰기 힐즈', 5, datetime.date(2024, 12, 11), datetime.timedelta(seconds=57600), datetime.timedelta(seconds=64800)),
 ('동우의 일본여행', '일본', '도쿄', '메이지 신궁', 6, datetime.date(2024, 12, 12), datetime.timedelta(seconds=36000), datetime.timedelta(seconds=43200)),
 ('동우의 일본여행', '일본', '도쿄', '하라주쿠 거리', 7, datetime.date(2024, 12, 12), datetime.timedelta(seconds=46800), datetime.timedelta(seconds=50400)),
 ('동우의 일본여행', '일본', '오사카', '오사카 성', 8, datetime.date(2024, 12, 12), datetime.timedelta(seconds=54000), datetime.timedelta(seconds=61200)),
 ('동우의 일본여행', '일본', '오사카', '도톤보리 강', 9, datetime.date(2024, 12, 12), datetime.timedelta(seconds=64800), datetime.timedelta(seconds=72000)),
 ('동우의 일본여행', '일본', '오사카', '유니버설 스튜디오 재팬', 10, datetime.date(2024, 12, 13), datetime.timedelta(seconds=36000), datetime.timedelta(seconds=43200))]

## 관광지 삭제

In [ ]:
%%sql
delete
from 프로젝트관광지
where 프로젝트ID = 1 and 경유순서 = 11;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14558/travel
   mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:15130/travel
1 rows affected.

[]