<a href="https://colab.research.google.com/github/p0tat0-113/2024.DB/blob/main/youtube.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ngrok tcp 3306

In [1]:
# 필요한 라이브러리 설치
!pip install ipython-sql pymysql

# SQL Magic 확장 로드
%load_ext sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (75.1.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.1 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 21.4 MB/s eta 0:00:00
Installing collected packages: pymysql, jedi
Successfully installed jedi-0.19.2 pymysql-1.1.1

In [2]:
# 연결 정보 설정
mysql_username = 'colab_user'       # MySQL 사용자 이름
mysql_password = 'private'    # MySQL 비밀번호, 처음에는 비밀번호에 특수문자 섞여있어서 오류가 발생하고 있었다.
ngrok_host = '0.tcp.jp.ngrok.io'       # ngrok에서 받은 호스트
ngrok_port = 'private'                # ngrok에서 받은 포트 (문자열로 입력)

database_name = 'youtube'     # 접속할 데이터베이스 이름

# SQLAlchemy 연결 문자열 생성
connection_string = f'mysql+pymysql://{mysql_username}:{mysql_password}@{ngrok_host}:{ngrok_port}/{database_name}'

# SQL Magic을 사용하여 데이터베이스에 연결
%sql $connection_string

In [3]:
# KeyError: 'DEFAULT’에러시 다음 코드를 실행
# 또 이 오류가 발생해서 전 수업파일에서 가져와서 실행했음.
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

#테스트

In [4]:
%%sql
SHOW TABLES;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
7 rows affected.

[('구글계정',), ('구독',), ('댓글',), ('슈퍼챗',), ('시청',), ('영상',), ('유튜브채널',)]

In [5]:
%%sql select * from 구글계정;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
4 rows affected.

[('user01', 'pass1234', '홍길동', datetime.date(1990, 5, 15)),
 ('user02', 'password', '김영희', datetime.date(1985, 8, 22)),
 ('user03', 'mypassword', '이철수', datetime.date(1992, 12, 5)),
 ('user04', 'securepwd', '박민수', datetime.date(1988, 3, 30))]

In [6]:
%%sql select * from 유튜브채널;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
4 rows affected.

[('channel01', '홍의 일상', 1500, 'user01', datetime.date(2020, 1, 10)),
 ('channel02', '영희의 요리교실', 2500, 'user02', datetime.date(2019, 6, 25)),
 ('channel03', '철수의 게임방', 5000, 'user03', datetime.date(2021, 3, 18)),
 ('channel04', '민수의 여행기', 3200, 'user04', datetime.date(2018, 11, 5))]

# 유튜브 채널 생성 및 조회

In [7]:
%%sql
select * from 유튜브채널;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
4 rows affected.

[('channel01', '홍의 일상', 1500, 'user01', datetime.date(2020, 1, 10)),
 ('channel02', '영희의 요리교실', 2500, 'user02', datetime.date(2019, 6, 25)),
 ('channel03', '철수의 게임방', 5000, 'user03', datetime.date(2021, 3, 18)),
 ('channel04', '민수의 여행기', 3200, 'user04', datetime.date(2018, 11, 5))]

#### user01 - channel05 유튜브 채널 생성

In [14]:
%%sql
INSERT INTO 유튜브채널 (채널ID, 채널이름, 구독자수, 채널소유자구글ID, 채널개설일) VALUES
('channel05', '홍의 테스트 채널', 0, 'user01', '2024-11-26');

select * from 유튜브채널;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
1 rows affected.
5 rows affected.

[('channel01', '홍의 일상', 1500, 'user01', datetime.date(2020, 1, 10)),
 ('channel02', '영희의 요리교실', 2500, 'user02', datetime.date(2019, 6, 25)),
 ('channel03', '철수의 게임방', 5000, 'user03', datetime.date(2021, 3, 18)),
 ('channel04', '민수의 여행기', 3200, 'user04', datetime.date(2018, 11, 5)),
 ('channel05', '홍의 테스트 채널', 0, 'user01', datetime.date(2024, 11, 26))]

#### user01이 소유하고 있는 유튜브 채널 조회

In [15]:
%%sql
select *
from 유튜브채널
where 채널소유자구글ID = 'user01';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
2 rows affected.

[('channel01', '홍의 일상', 1500, 'user01', datetime.date(2020, 1, 10)),
 ('channel05', '홍의 테스트 채널', 0, 'user01', datetime.date(2024, 11, 26))]

#### 채널삭제

In [12]:
%%sql
delete from 유튜브채널
where 채널ID = 'channel05';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
1 rows affected.

[]

# 구독 추가, 검색, 해제

In [16]:
%%sql
select * from 구독;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
6 rows affected.

[('channel01', 'channel02', 1, datetime.date(2020, 2, 1)),
 ('channel01', 'channel03', 0, datetime.date(2020, 3, 15)),
 ('channel02', 'channel01', 1, datetime.date(2019, 7, 10)),
 ('channel03', 'channel02', 1, datetime.date(2021, 4, 20)),
 ('channel04', 'channel01', 1, datetime.date(2019, 1, 5)),
 ('channel04', 'channel03', 0, datetime.date(2018, 12, 1))]

#### channel 05 - channel01과 channel02 구독

In [21]:
%%sql
INSERT INTO 구독 (구독한채널ID, 구독된채널ID, 알림설정, 구독일자) VALUES
('channel05', 'channel01', true, '2024-11-26'),
('channel05', 'channel02', false, '2024-11-26');

select * from 구독;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
1 rows affected.
8 rows affected.

[('channel01', 'channel02', 1, datetime.date(2020, 2, 1)),
 ('channel01', 'channel03', 0, datetime.date(2020, 3, 15)),
 ('channel02', 'channel01', 1, datetime.date(2019, 7, 10)),
 ('channel03', 'channel02', 1, datetime.date(2021, 4, 20)),
 ('channel04', 'channel01', 1, datetime.date(2019, 1, 5)),
 ('channel04', 'channel03', 0, datetime.date(2018, 12, 1)),
 ('channel05', 'channel01', 1, datetime.date(2024, 11, 26)),
 ('channel05', 'channel02', 0, datetime.date(2024, 11, 26))]

#### channel05가 구독한 채널들 조회

In [22]:
%%sql
select 구독된채널ID as ` channel05가 구독한 채널들`
from 구독
where 구독한채널ID = 'channel05';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
2 rows affected.

[('channel01',), ('channel02',)]

#### 구독 해제

In [19]:
%%sql
delete from 구독
where 구독한채널ID = 'channel05' and 구독된채널ID = 'channel02';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
1 rows affected.

[]

# 영상 업로드, 조회, 삭제

In [23]:
%%sql
select * from 영상;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
4 rows affected.

[(1, '홍의 하루', '홍길동의 일상 브이로그', 1200, datetime.date(2023, 1, 15), 10000, 150, 'https://server/videos/hong_day.mp4', 'channel01'),
 (2, '영희의 파스타 만들기', '간단한 파스타 레시피 공유', 1800, datetime.date(2023, 2, 20), 20000, 250, 'https://server/videos/yeonghee_pasta.mp4', 'channel02'),
 (3, '철수의 최신 게임 리뷰', '새로 나온 게임에 대한 솔직한 리뷰', 1500, datetime.date(2023, 3, 10), 30000, 400, 'https://server/videos/chulsoo_game_review.mp4', 'channel03'),
 (4, '민수의 유럽 여행', '유럽 5개국 여행기', 2500, datetime.date(2023, 4, 5), 25000, 350, 'https://server/videos/minsu_europe_trip.mp4', 'channel04')]

#### 영상 업로드

In [24]:
%%sql
INSERT INTO 영상 (영상ID, 제목, 영상설명, 영상길이, 업로드일, 조회수, 댓글수, 저장주소, 업로드한채널ID) VALUES
(NULL, 'channel05의 테스트 영상1', '테스트1', 0, '2024-11-26', 0, 0, 'https://server/...', 'channel05'),
(NULL, 'channel05의 테스트 영상2', '테스트2', 0, '2024-11-26', 0, 0, 'https://server/...', 'channel05');

select * from 영상;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
2 rows affected.
6 rows affected.

[(1, '홍의 하루', '홍길동의 일상 브이로그', 1200, datetime.date(2023, 1, 15), 10000, 150, 'https://server/videos/hong_day.mp4', 'channel01'),
 (2, '영희의 파스타 만들기', '간단한 파스타 레시피 공유', 1800, datetime.date(2023, 2, 20), 20000, 250, 'https://server/videos/yeonghee_pasta.mp4', 'channel02'),
 (3, '철수의 최신 게임 리뷰', '새로 나온 게임에 대한 솔직한 리뷰', 1500, datetime.date(2023, 3, 10), 30000, 400, 'https://server/videos/chulsoo_game_review.mp4', 'channel03'),
 (4, '민수의 유럽 여행', '유럽 5개국 여행기', 2500, datetime.date(2023, 4, 5), 25000, 350, 'https://server/videos/minsu_europe_trip.mp4', 'channel04'),
 (5, 'channel05의 테스트 영상1', '테스트1', 0, datetime.date(2024, 11, 26), 0, 0, 'https://server/...', 'channel05'),
 (6, 'channel05의 테스트 영상2', '테스트2', 0, datetime.date(2024, 11, 26), 0, 0, 'https://server/...', 'channel05')]

#### channel05가 업로드한 영상 조회

In [25]:
%%sql
select *
from 영상
where 업로드한채널ID = 'channel05';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
2 rows affected.

[(5, 'channel05의 테스트 영상1', '테스트1', 0, datetime.date(2024, 11, 26), 0, 0, 'https://server/...', 'channel05'),
 (6, 'channel05의 테스트 영상2', '테스트2', 0, datetime.date(2024, 11, 26), 0, 0, 'https://server/...', 'channel05')]

#### 영상 삭제

In [ ]:
%%sql
delete from 영상
where 영상ID = '8';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14914/youtube
0 rows affected.

[]

# 영상 시청기록 등록, 조회, 삭제

In [26]:
%%sql
select * from 시청;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
6 rows affected.

[(1, 'channel01', 2, datetime.datetime(2023, 2, 21, 13, 0)),
 (2, 'channel02', 1, datetime.datetime(2023, 1, 16, 11, 0)),
 (3, 'channel03', 4, datetime.datetime(2023, 4, 7, 10, 30)),
 (4, 'channel04', 3, datetime.datetime(2023, 3, 12, 15, 20)),
 (5, 'channel02', 3, datetime.datetime(2023, 3, 11, 16, 45)),
 (6, 'channel03', 2, datetime.datetime(2023, 2, 22, 12, 0))]

#### 영상 시청기록 등록

In [27]:
%%sql
INSERT INTO 시청 (영상시청ID, 영상을시청한채널ID, 시청한영상ID, 시청시각) VALUES
(NULL, 'channel05', 2, '2024-11-26 23:00:00'),
(NULL, 'channel05', 1, '2024-11-26 23:00:00');

select * from 시청;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
2 rows affected.
8 rows affected.

[(1, 'channel01', 2, datetime.datetime(2023, 2, 21, 13, 0)),
 (2, 'channel02', 1, datetime.datetime(2023, 1, 16, 11, 0)),
 (3, 'channel03', 4, datetime.datetime(2023, 4, 7, 10, 30)),
 (4, 'channel04', 3, datetime.datetime(2023, 3, 12, 15, 20)),
 (5, 'channel02', 3, datetime.datetime(2023, 3, 11, 16, 45)),
 (6, 'channel03', 2, datetime.datetime(2023, 2, 22, 12, 0)),
 (7, 'channel05', 2, datetime.datetime(2024, 11, 26, 23, 0)),
 (8, 'channel05', 1, datetime.datetime(2024, 11, 26, 23, 0))]

#### channel05가 시청한 영상 정보 조회

In [28]:
%%sql
select *
from 시청 inner join 영상 on 시청.시청한영상ID = 영상.영상ID
where 영상을시청한채널ID = 'channel05';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
2 rows affected.

[(7, 'channel05', 2, datetime.datetime(2024, 11, 26, 23, 0), 2, '영희의 파스타 만들기', '간단한 파스타 레시피 공유', 1800, datetime.date(2023, 2, 20), 20000, 250, 'https://server/videos/yeonghee_pasta.mp4', 'channel02'),
 (8, 'channel05', 1, datetime.datetime(2024, 11, 26, 23, 0), 1, '홍의 하루', '홍길동의 일상 브이로그', 1200, datetime.date(2023, 1, 15), 10000, 150, 'https://server/videos/hong_day.mp4', 'channel01')]

#### 시청기록 삭제

In [ ]:
%%sql
delete from 시청
where 영상시청ID = 11;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14914/youtube
1 rows affected.

[]

# 댓글 작성, 조회, 삭제

In [29]:
%%sql
select * from 댓글;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
6 rows affected.

[(1, datetime.datetime(2023, 1, 16, 10, 15), '정말 재미있게 봤어요!', 'channel02', 1),
 (2, datetime.datetime(2023, 2, 21, 12, 30), '레시피 덕분에 맛있게 만들었어요!', 'channel03', 2),
 (3, datetime.datetime(2023, 3, 11, 14, 45), '게임 그래픽이 정말 좋네요!', 'channel01', 3),
 (4, datetime.datetime(2023, 4, 6, 16, 0), '유럽 여행 너무 부럽습니다!', 'channel03', 4),
 (5, datetime.datetime(2023, 1, 17, 9, 20), '다음 영상도 기대할게요!', 'channel04', 1),
 (6, datetime.datetime(2023, 2, 22, 11, 35), '파스타 정말 맛있어 보여요!', 'channel01', 2)]

#### 댓글작성

In [30]:
%%sql
INSERT INTO 댓글 (댓글ID, 작성시각, 댓글내용, 작성자채널ID, 댓글이달린영상ID) VALUES
(NULL, '2024-11-26 10:15:00', '테스트 댓글1', 'channel05', 1),
(NULL, '2024-11-26 12:30:00', '테스트 댓글2', 'channel05', 2);

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
2 rows affected.

[]

#### 댓글 조회

##### channel05가 작성한 댓글 조회

In [31]:
%%sql
select *
from 댓글
where 작성자채널ID = 'channel05';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
2 rows affected.

[(7, datetime.datetime(2024, 11, 26, 10, 15), '테스트 댓글1', 'channel05', 1),
 (8, datetime.datetime(2024, 11, 26, 12, 30), '테스트 댓글2', 'channel05', 2)]

##### 특정 영상에 달린 댓글 목록 조회

In [32]:
%%sql
select *
from 댓글
where 댓글이달린영상ID = 1;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14520/youtube
3 rows affected.

[(1, datetime.datetime(2023, 1, 16, 10, 15), '정말 재미있게 봤어요!', 'channel02', 1),
 (5, datetime.datetime(2023, 1, 17, 9, 20), '다음 영상도 기대할게요!', 'channel04', 1),
 (7, datetime.datetime(2024, 11, 26, 10, 15), '테스트 댓글1', 'channel05', 1)]

#### 댓글 삭제

In [ ]:
%%sql
delete from 댓글
where 댓글ID = 7;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14914/youtube
0 rows affected.

[]

# 초기화

In [ ]:
%%sql
delete from 유튜브채널 where 채널ID = 'channel05';

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:14914/youtube
1 rows affected.

[]

In [ ]:
%%sql
select * from 유튜브채널;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:19345/youtube
4 rows affected.

[('channel01', '홍의 일상', 1500, 'user01', datetime.date(2020, 1, 10)),
 ('channel02', '영희의 요리교실', 2500, 'user02', datetime.date(2019, 6, 25)),
 ('channel03', '철수의 게임방', 5000, 'user03', datetime.date(2021, 3, 18)),
 ('channel04', '민수의 여행기', 3200, 'user04', datetime.date(2018, 11, 5))]

In [ ]:
%%sql
select * from 구독;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:19345/youtube
6 rows affected.

[('channel01', 'channel02', 1, datetime.date(2020, 2, 1)),
 ('channel01', 'channel03', 0, datetime.date(2020, 3, 15)),
 ('channel02', 'channel01', 1, datetime.date(2019, 7, 10)),
 ('channel03', 'channel02', 1, datetime.date(2021, 4, 20)),
 ('channel04', 'channel01', 1, datetime.date(2019, 1, 5)),
 ('channel04', 'channel03', 0, datetime.date(2018, 12, 1))]

In [ ]:
%%sql
select * from 영상;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:19345/youtube
4 rows affected.

[(1, '홍의 하루', '홍길동의 일상 브이로그', 1200, datetime.date(2023, 1, 15), 10000, 150, 'https://server/videos/hong_day.mp4', 'channel01'),
 (2, '영희의 파스타 만들기', '간단한 파스타 레시피 공유', 1800, datetime.date(2023, 2, 20), 20000, 250, 'https://server/videos/yeonghee_pasta.mp4', 'channel02'),
 (3, '철수의 최신 게임 리뷰', '새로 나온 게임에 대한 솔직한 리뷰', 1500, datetime.date(2023, 3, 10), 30000, 400, 'https://server/videos/chulsoo_game_review.mp4', 'channel03'),
 (4, '민수의 유럽 여행', '유럽 5개국 여행기', 2500, datetime.date(2023, 4, 5), 25000, 350, 'https://server/videos/minsu_europe_trip.mp4', 'channel04')]

In [ ]:
%%sql
select * from 시청;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:19345/youtube
6 rows affected.

[(1, 'channel01', 2, datetime.datetime(2023, 2, 21, 13, 0)),
 (2, 'channel02', 1, datetime.datetime(2023, 1, 16, 11, 0)),
 (3, 'channel03', 4, datetime.datetime(2023, 4, 7, 10, 30)),
 (4, 'channel04', 3, datetime.datetime(2023, 3, 12, 15, 20)),
 (5, 'channel02', 3, datetime.datetime(2023, 3, 11, 16, 45)),
 (6, 'channel03', 2, datetime.datetime(2023, 2, 22, 12, 0))]

In [ ]:
%%sql
select * from 댓글;

 * mysql+pymysql://colab_user:***@0.tcp.jp.ngrok.io:19345/youtube
6 rows affected.

[(1, datetime.datetime(2023, 1, 16, 10, 15), '정말 재미있게 봤어요!', 'channel02', 1),
 (2, datetime.datetime(2023, 2, 21, 12, 30), '레시피 덕분에 맛있게 만들었어요!', 'channel03', 2),
 (3, datetime.datetime(2023, 3, 11, 14, 45), '게임 그래픽이 정말 좋네요!', 'channel01', 3),
 (4, datetime.datetime(2023, 4, 6, 16, 0), '유럽 여행 너무 부럽습니다!', 'channel03', 4),
 (5, datetime.datetime(2023, 1, 17, 9, 20), '다음 영상도 기대할게요!', 'channel04', 1),
 (6, datetime.datetime(2023, 2, 22, 11, 35), '파스타 정말 맛있어 보여요!', 'channel01', 2)]